[Unit]
Description=Run autojob every morning

[Timer]
OnCalendar=*-*-* 07:00:00 America/Vancouver
RandomizedDelaySec=10m
Persistent=true

[Install]
WantedBy=timers.target
